.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*------------------NAVBAR------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  height: 50px;
}

li {
float: left;
font-weight: bold;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li :hover:not(.active) {
background-color: white;
color: red;
height: 100%;
text-decoration: none;

}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.active {
background-color: #04AA6D;
}

#background {
  background-color: rgb(23, 19, 19);
  height: 1000px;
}
/*------------------NAVBAR------------------*/


  

/*------------------SEARCHBAR------------------*/
.search-hover {
  position: relative;
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 150px;
  height: 60px;
  top: 10px;
  transition: all 0.5s;
  text-align: center;
  font-size: 20px;
}

.search-hover:focus {
  width: 600px;
  color: red;
}

.search-hover:hover {
  width: 600px;
  color: red;
}


input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: red;
}
input:hover::-webkit-input-placeholder {
  color: red;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: red;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: red;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: red;
    
}
/*------------------SEARCHBAR------------------*/


/*------------------NAV SEARCHBAR------------------*/

.search-box {
  position: relative;
  right: -300px;
  display: flex;
  justify-content: flex-end;
  /* for demonstration */
  background-color: red;
  width: 250px;
  height: 150px;
  padding: 10px;
}

.search-box input {
  text-align: center;
  border-radius: 40px;
  border: 0;
  box-shadow: 0 0 5px whitesmoke, 0 0 10px whitesmoke;
  padding: 0;
  width: 0;
  height: 30px;
  transition: padding 0.6s ease-in-out,
   width 0.6s ease-in-out;
}

.search-box:hover > input{
  display: inline-block;
  border-radius: 40px;
  width: 300px;
  outline: none;
  color: red;
  padding: 8px;
  border: 1px solid whitesmoke;
}

.navbarinput:focus {
  display: inline-block;
  border-radius: 40px;
  width: 300px;
  outline: none;
  color: red;
  padding: 8px;
  border: 1px solid whitesmoke;
}

img {
  width: 40px;
  height: 40px;
  position: relative;
  top: -5px;
}
/*------------------NAV SEARCHBAR------------------*/


/*------------------SEARCHBAR BUTTON------------------*/
.button {
  background-color: white; /* Green */
  border-color: red;
  color: red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  height: 60px;
  width: 150px;
  vertical-align: middle;
}

.button:hover {
  background-color: red;
  color: white;
}

/*------------------SEARCHBAR BUTTON------------------*/


/*------------------LOADING MESSAGE------------------*/

#loading {
  color: white;
  position: relative;
  top: 225px;
}

/*------------------LOADING MESSAGE------------------*/

/*------------------PLAYER HEADER------------------*/

#player-card, #player-title {
  display: inline-block;
  position: absolute;
  left: 30px;
}

#player-title {
  font-size: 80px;
  color: white;
  position: relative;
  bottom: -30px;
  letter-spacing: 2px;
  left: 150px;
  float: left;

}

#player-card {
  width: 100px;
  height: 100px;
  top: 35px;
  border: 1px solid white;
  border-radius: 30px;
}

#player-header {
  position: relative;
  width: 80%;
  height: 150px;
  border-bottom-style: solid;
  border-bottom-color: red;
  background-image: linear-gradient(rgb(23, 19, 19),darkred);
}

/*------------------PLAYER HEADER------------------*/


/*------------------OVR STATS CONTAINER------------------*/

#ovr-stats-container {
  width: 80%;
  position: relative;
  top: 50px;
}

#ovr-stats, #other-info, #body-shots, #shot-count {
  display: inline-block;
  font-size: 30px;
  
}

#ovr-stats {
  float: right;
  width: 600px;
  background-color: darkred;
  position: relative;
  right: 200px
}



#other-info {
  width: 18%;
}



#shots-count {
  float: right;
  position: relative;
  right: -675px;
  top: -125px
}

#body-shots {
  float: right;
  position: relative;
  right: -605px;
  border: none;
  top: 30px
}

.shot-nums {
  color: red;
}

.body-parts {
  border: none;
  height: 50px;
}

.body-img {
  width: 60px;
  height: 100%;
}

#torso {
  width: 85px;
  left: 1px;
}


td {
  text-align: center;
  border: 2px solid rgb(23, 19, 19);
  height: 90px;
  width: 200px;
  color: white;
}



#rank-png-container {
  border-bottom: 2px solid darkred;
  background-image: (rgb(23, 19, 19),darkred);
  width: 200px;
}

#rank-title, #rank-png-container {
  width: 175px;
}

#rank-png {
  height: 90px;
  width: 90px;
}



#stats-unavailable {
  color: white;
  width: 700px;
  float: right;
  position: relative;
  right: 70px;
  top: 50px;
}

/*------------------OVR STATS CONTAINER------------------*/



/*------------------BODY SHOTS MINI------------------*/

#shots-count-mini, #body-shots-mini {
  float: right;
  position: relative;
  height: 20px;
  width: 50%;
  top: 30px;
}

#shots-count-mini {
  float: right;
}

#body-shots-mini {
  float: left;
}

.shot-nums-mini {
  color: red;
}

.body-parts-mini {
  border: none;
  height: 30px;
}

.body-img-mini {
  width: 40px;
  height: 30px;
}

#torso-mini {
  left: 1px;
}

/*------------------BODY SHOTS MINI------------------*/


/*------------------DISPLAY MATCHES------------------*/

#matches {
  width: 80%;
  position: relative;
  height: 400px;
  overflow-y: scroll;
  border: 2px solid darkred;
}

.match-row {
  height: 100px;
  background-color: rgb(41, 0, 0);
}

.match-win {
  background-image: linear-gradient(to right,lawngreen,rgb(41, 0, 0));
}

.match-loss {
  background-image: linear-gradient(to right,red,rgb(41, 0, 0))
}

.agent-png {
  height: 80px;
  width: 80px;
}

.match-data {
  border-top: 2px solid rgb(23, 19, 19);
  border-bottom: 2px solid rgb(23, 19, 19);
  border-left: none;
  border-right: none;
}

.match-text {
  font-size: 30px;
  position: relative;
  bottom: 0px;
}

/*------------------DISPLAY MATCHES------------------*/