.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*------------------NAVBAR------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
  height: 50px;
}

li {
float: left;
font-weight: bold;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li :hover:not(.active) {
background-color: white;
color: red;
height: 100%;
text-decoration: none;
transition: all 0.5s;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.active {
background-color: #04AA6D;
}

#background {
  background-color: rgb(23, 19, 19);
  min-height: 1200px;
  height:auto !important;     
  max-height: 1900px;
}
/*------------------NAVBAR------------------*/


  

/*------------------SEARCHBAR------------------*/

.search-hover {
  position: relative;
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 15%;
  min-width: 150px;
  height: 60px;
  top: 10px;
  transition: all 0.5s;
  text-align: center;
  font-size: 20px;
}

.search-hover:focus {
  width: 50%;
  color: red;
}

.search-hover:hover {
  width: 50%;
  color: red;
}


input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: red;
}
input:hover::-webkit-input-placeholder {
  color: red;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: red;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: red;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: red;
    
}
/*------------------SEARCHBAR------------------*/


/*------------------NAV SEARCHBAR------------------*/

#search-bar {
  position: relative;
}

.search-box {
  position: relative;
  float:right;
  display: flex;
  justify-content: flex-end;
  background-color: red;
  width: 20%;
  height: 150px;
  padding: 10px;
}

.search-box input {
  text-align: center;
  border-radius: 40px;
  border: 0;
  box-shadow: 0 0 5px whitesmoke, 0 0 10px whitesmoke;
  padding: 0;
  width: 0;
  height: 30px;
  transition: padding 0.6s ease-in-out,
   width 0.6s ease-in-out;
}

.search-box:hover > input{
  display: inline-block;
  border-radius: 40px;
  width: 100%;
  min-width: 120px;
  outline: none;
  color: red;
  padding: 8px;
  border: 1px solid whitesmoke;
}

.navbarinput:focus {
  display: inline-block;
  border-radius: 40px;
  width: 100%;
  outline: none;
  color: red;
  padding: 8px;
  border: 1px solid whitesmoke;
}

img {
  width: 40px;
  height: 40px;
  position: relative;
  top: -5px;
}
/*------------------NAV SEARCHBAR------------------*/


/*------------------SEARCHBAR BUTTON------------------*/
.button {
  background-color: white; /* Green */
  border-color: red;
  color: red;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  height: 60px;
  width: 15%;
  min-width: 150px;
  vertical-align: middle;
}

.button:hover {
  background-color: red;
  color: white;
}

/*------------------SEARCHBAR BUTTON------------------*/


/*------------------LOADING MESSAGE------------------*/

#loading {
  color: white;
  position: relative;
  top: 120px;
}

#loading-gif {
  width: 30%;
  height: 30%;
  position: relative;
  top: 100px;
}

/*------------------LOADING MESSAGE------------------*/

/*------------------PLAYER HEADER------------------*/

.player-header-cell {
  border: None;
}

#player-card-cell {
  width: 20%;
}

#player-title-cell {
  width: 80%;
}

#player-title {
  font-size: 5.5vw;
  letter-spacing: 2px;
  color: white;
  position: relative;
  float: left;
  top: 20%;
}

#player-card {
  position: relative;
  top: 10%;
  border: 1px solid white;
  border-radius: 30px;
  width: 50%;
  height: auto;
  min-width: 70px;
  min-height: 70px;
  max-height: 100px;
  max-width: 100px;
}

#player-header {
  width: 80%;
  height: 150px;
  border-bottom-style: solid;
  border-bottom-color: red;
  background-image: linear-gradient(rgb(23, 19, 19),darkred);
}

/*------------------PLAYER HEADER------------------*/


/*------------------OVR STATS CONTAINER------------------*/

#ovr-stats-container {
  width: 80%;
  position: relative;
  top: 50px;
}

#ovr-stats, #other-info, #shots-container {
  display: inline-block;
  font-size: 2.2vw;
}

#ovr-stats {
  position: relative;
  width: 50%;
  background-color: darkred;
  bottom: 120px;
}

.ovr-stat-row {
  width: 100/3%;
  font-size: 2.2vw;
}


#other-info {
  align-items: center;
  width: 25%;
}


#shots-container {
  position: relative;
  width: 25%;
  top: 25px;
  right: 3%;
}

#shots-count {
  position: relative;
  font-size: 2.2vw;
  left: 48%;
  bottom: 150px;
}

#body-shots {
  position: relative;
  font-size: 30px;
  border: none;
}

.shot-nums {
  color: red;
}

.body-parts {
  border: none;
  height: 50px;
}

.body-img {
  width: 30%;
  min-width: 40px;
  height: 100%;
}

#torso {
  width: 44%;
  min-width: 57px;
  left: 1.5px;
}


td {
  text-align: center;
  border: 2px solid rgb(23, 19, 19);
  height: 90px;
  width: 200px;
  color: white;
}



#rank-png-container {
  border-bottom: 2px solid darkred;
  background-image: (rgb(23, 19, 19),darkred);
  width: 25%;
}

#rank-title, #rank-png-container {
  width: 100%;
}

#rank-png {
  height: 90%;
  width: 50%;
  min-width: 80px;
  min-height: 80px;
}



#stats-unavailable {
  color: white;
  width: 700px;
  float: right;
  position: relative;
  right: 70px;
  bottom: 150px;
}

/*------------------OVR STATS CONTAINER------------------*/



/*------------------BODY SHOTS MINI------------------*/
#shots-count-mini, #body-shots-mini {
  float: right;
  position: relative;
  height: 20px;
  width: 50%;
  top: 45px;
}

#shots-count-mini {
  float: right;
}

#body-shots-mini {
  float: left;
}

.shot-nums-mini {
  color: red;
}

.body-parts-mini {
  border: none;
  height: 30px;
}

.body-img-mini {
  width: 40px;
  height: 30px;
}

#torso-mini {
  left: 1px;
  width: 58px;
}
/*------------------BODY SHOTS MINI------------------*/


/*------------------DISPLAY MATCHES------------------*/

#matches {
  width: 80%;
  position: relative;

  height:auto;
  min-height: 165px;
  height:auto !important;     
  max-height: 495px;

  overflow-y: scroll;
  border: 2px solid darkred;
}

.match-row {
  height: 100/3%;
  background-color: rgb(41, 0, 0);
}

.match-win {
  background-image: linear-gradient(to right,lawngreen,rgb(41, 0, 0));
}

.match-loss {
  background-image: linear-gradient(to right,red,rgb(41, 0, 0))
}

.agent-png {
  height: 80px;
  width: 80px;
}

.match-data {
  border-top: 2px solid rgb(23, 19, 19);
  border-bottom: 2px solid rgb(23, 19, 19);
  border-left: none;
  border-right: none;
  width: 100/7%;
  min-width: 120px;
}

.match-type {
  border-top: 2px solid rgb(23, 19, 19);
  border-bottom: 2px solid rgb(23, 19, 19);
  border-left: none;
  border-right: none;
  min-width: 169px;
}

.match-score {
  font-size: 35px;
  font-weight: bold;
  position: relative;
  right: 15px;
}

.match-stat {
  position: relative;
  bottom: 15px;
}

.match-text {
  font-size: 22px;
  position: relative;
  bottom: 20px;
}

#match-type-icon {
  position: relative;
}

/*------------------DISPLAY MATCHES------------------*/



/*------------------MATCH TYPE SELECT------------------*/

#match-type-select-table {
  width: 80%;
  height: 50px;
}

.match-type-btn {
  width: 100%;
  height: 50px;
  background-color: rgb(23, 19, 19);
  transition: all 0.5s;
  color: red;
  border: none;
  border-bottom: 2px solid red;
  font-size: 20px;
}

.match-type-btn:hover {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(rgb(23, 19, 19),red);
  color: white;
  border: none;
}

.match-type-btn:focus {
  width: 100%;
  height: 50px;
  background-image: linear-gradient(rgb(23, 19, 19),red);
  color: white;
  border: none;
}

/*------------------MATCH TYPE SELECT------------------*/

#chart {
  width: 80%;
  height: 100%;
}
